@media (max-width: 1025px) {
    .wrapper {
        padding: 3em 1em 0;
    }

    .header {
        width: 100%;
    }

    .form__input-city {
        width: 40%;
    }
    
    .form__input-country {
        width: 40%;
    }

    .weather__info {
        width: 100%;
    }
}

@media (max-width: 812px) {
    body {
        height: 100%;
    }
}

@media (max-width: 768px) and (orientation: landscape){
    body {
        height: 100%;
    }
}

@media (max-width: 768px) and (orientation: portrait){
    body {
        height: 100vh;
    }
}

@media (max-width: 737px) {
    .weather__city {
        font-size: 2em;
    }
    
    .weather__country {
        font-size: 1em;
    }

    .weather__qual > div > p {
        font-size: 1.1em;
        margin: 0;
        text-align: right;
    }
}

@media (max-width: 485px) {
    .weather__qual > div > p {
        font-size: .9em;
    }
}

@media (max-width: 415px) {
    body {
        height: 100vh;
    }
} 

@media (max-width: 320px) and (orientation: portrait) {
    body {
        height: 100%;
    }
} 